{% block javascripts %}
    {% javascripts '@panel_domicilio_exterior_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<div class="panel-heading bg-primary" role="button" data-toggle="collapse" href="#dom-exterior"
     aria-expanded="false" aria-controls="collapseExample"><h5>Domicilio
        Exterior</h5>
</div>
<div class="panel-body collapse" id="dom-exterior">
    <div class="col-md-12">
        {{ form_start(domicilioFormExterior ,{'attr': {'id': 'domicilioFormExterior', 'class': 'form-horizontal col-lg-11 col-lg-offset-1 datos-registro pad-top'}} ) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" style="float:left;"
                           id="label-provincia"><span class="text-danger">*</span>Provincia/estado</label>
                    <div class="col-md-8 col-sm-12">
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.provincia_exterior,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.provincia_exterior,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class=" control-label ml-fl-domicilio"
                           id="label-provincia"><span class="text-danger">*</span>País</label>
                    <div class="col-md-8 col-sm-12">
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.nacionalidad_exterior,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.nacionalidad_exterior,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                        {{ form_errors(domicilioFormExterior.nacionalidad_exterior) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="control-label" style="float:left;"
                           id="label-provincia"><span class="text-danger">*</span>Código Postal</label>
                    <div class="col-md-8 col-sm-12">
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.codigo_postal,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.codigo_postal,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                        {{ form_errors(domicilioFormExterior.codigo_postal) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label ml-fl-domicilio"
                           id="label-calle"><span class="text-danger">*</span>Calle/Nro de calle</label>
                    <div class="col-md-8 col-sm-12">
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.calle,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.calle,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                        {{ form_errors(domicilioFormExterior.calle) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="control-label" style="float:left;"
                           id="label-piso">Piso</label>
                    <div class="col-md-8 col-sm-12">
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.piso,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.piso,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                        {{ form_errors(domicilioFormExterior.piso) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label ml-fl-domicilio" style="float:left;"
                           id="label-dpto">Dpto</label>
                    <div class="col-md-8 col-sm-12">             
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.departamento,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.departamento,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                        {{ form_errors(domicilioFormExterior.departamento) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" style="float:left;"
                           id="label-telefono"><span class="text-danger">*</span>Teléfono</label>
                     <div class="col-md-8 col-sm-12">
                        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
                            {{ form_widget(domicilioFormExterior.telefono,{ 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(domicilioFormExterior.telefono,{ 'attr': {'disabled':'disabled'} }) }}
                        {% endif %}
                        {{ form_errors(domicilioFormExterior.telefono) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(domicilioFormExterior) }}

    {% if observacionEvaluacion is not null %}
        {% include '@ProveedorBundle/Resources/views/Partials/observacion.html.twig' %}
    {%endif %}

    <div class="text-right">
        {% if estadoEvaluacionGral is null or (estadoEvaluacionGral == 4 and observacionEvaluacion is not null)  or unlockForm %}
            <button type="submit" class="btn btn-info  btn-borrador" id="submitDomicilioFormExterior">
            <span> {% image '@saveldpi1' %}
                    <img class="image-responsive" src="{{ asset_url }}">
                {% endimage %}</span></button>
        {% endif %}
    </div>


    <!--****************************        			DOCUMENTACION     *************************-->

</div>
