<!DOCTYPE html>
<!-- saved from url=(0035)https://www.argentina.gob.ar/adifse -->
<html lang="es" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#" class="js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Nav and address bar color -->
  <meta name="theme-color" content="#0072b8">
  <meta name="msapplication-navbutton-color" content="#0072b8">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0072b8">
  
<meta name="gtm-padres" content="2333">
<meta name="gtm-tipo" content="area">
<meta name="gtm-id" content="10318">
<meta name="gtm-padre" content="Ministerio de Transporte ">
<meta name="gtm-raiz" content="Ministerio de Transporte ">
<meta name="description" content="Dirigimos las obras de infraestructura ferroviaria en todo el país para brindar un transporte seguro y de calidad para los argentinos.">
<meta name="keywords" content="gobierno, argentino, nacional, gobierno argentino, gobierno nacional, República Argentina, administración, gestión, pública, administración pública, gestión pública, digital, trámites, servicios, trámites en línea, gobierno digital, servicios en línea, servicios digitales, Estado, transparencia, ciudadanos, modernización, organismo, organismo público, organismos públicos, organismos, beneficios, beneficios">
<link rel="image_src" href="https://www.argentina.gob.ar/sites/default/files/adifse_header_home.jpg">
<link rel="canonical" href="https://www.argentina.gob.ar/adifse">
<link rel="shortlink" href="https://www.argentina.gob.ar/node/10318">
<meta property="og:type" content="government">
<meta property="og:site_name" content="Argentina.gob.ar">
<meta property="og:url" content="https://www.argentina.gob.ar/adifse">
<meta property="og:title" content="Trenes Argentinos Infraestructura">
<meta property="og:description" content="Dirigimos las obras de infraestructura ferroviaria en todo el país para brindar un transporte seguro y de calidad para los argentinos.">
<meta property="og:updated_time" content="2017-09-29T22:36:40-03:00">
<meta property="og:image" content="https://www.argentina.gob.ar/sites/default/files/adifse_header_home.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@CasaRosada">
<meta name="twitter:url" content="https://www.argentina.gob.ar/adifse">
<meta name="twitter:title" content="Trenes Argentinos Infraestructura">
<meta name="twitter:description" content="Dirigimos las obras de infraestructura ferroviaria en todo el país para brindar un transporte seguro y de calidad para los argentinos.">
<meta name="twitter:image:src" content="https://www.argentina.gob.ar/sites/default/files/adifse_header_home.jpg">
<meta property="article:published_time" content="2017-04-06T10:43:27-03:00">
<meta property="article:modified_time" content="2017-09-29T22:36:40-03:00">
<meta itemprop="image" content="https://www.argentina.gob.ar/sites/default/files/adifse_header_home.jpg">
<link rel="shortcut icon" href="https://www.argentina.gob.ar/profiles/argentinagobar/themes/argentinagobar/argentinagobar_theme/favicon.ico" type="image/ico">
  <title>Trenes Argentinos Infraestructura | Argentina.gob.ar</title>
  <style>
@import url("https://www.argentina.gob.ar/modules/system/system.base.css?ox960m");
</style>
<style>
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/argentinagobar/argentinagobar_search/css/facets.min.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/argentinagobar/argentinagobar_webform/css/custom-chosen.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/contrib/date/date_api/date.css?ox960m");
@import url("https://www.argentina.gob.ar/modules/field/theme/field.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/contrib/field_hidden/field_hidden.css?ox960m");
@import url("https://www.argentina.gob.ar/modules/node/node.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/contrib/views/css/views.css?ox960m");
</style>
<style>
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/contrib/ctools/css/ctools.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/contrib/panels/css/panels.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/modules/contrib/rate/rate.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/themes/argentinagobar/argentinagobar_theme/layouts/pagina/../../css/bootstrap.css?ox960m");
</style>
{% stylesheets '@bootstrap_css'
               '@font_awesome_css'
               '@poncho_css'
               '@style_css'
               %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<style>
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/themes/contrib/poncho/vendor/bootstrap/css/bootstrap.min.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/themes/contrib/poncho/css/poncho.min.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/themes/contrib/poncho/css/icono-arg.css?ox960m");
@import url("https://www.argentina.gob.ar/profiles/argentinagobar/themes/contrib/poncho/css/argentina.css?ox960m");
</style>

{% image '@fa_lista_bg_svg' %}
    <style>
        i.fa-lista-bg  {
            content:"";
            background-image:url('{{ asset_url }}');

            width: 100px; //WIDTH of the icon
            height: 100px; //HEIGHT of the icon
            background-position:center;
            background-size:cover;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
        }
        .fa-lista-bg:before {
            content: "\f03a";
        }
    </style>
{% endimage %}

{% image '@fa_prov_bg_svg' %}
    <style>
        i.fa-prov-bg  {
            content:"";
            background-image:url('{{ asset_url }}');

            width: 100px; //WIDTH of the icon
            height: 100px; //HEIGHT of the icon
            background-position:center;
            background-size:cover;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
        }
        .fa-prov-bg:before {
            content: "\f03a";
        }
    </style>
{% endimage %}

<!-- HTML5 element support for IE6-8 -->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body role="document" class="html not-front not-logged-in no-sidebars page-node page-node- page-node-10318 node-type-area og-context og-context-node og-context-node-10318 i18n-es">
  <!-- Google Tag Manager -->
  <noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-P68ZXT"height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-P68ZXT');</script>
  <!-- End Google Tag Manager -->
  <div id="skip-link">
    <a href="https://www.argentina.gob.ar/adifse#main-content" class="element-invisible element-focusable">Pasar al contenido principal</a>
  </div>
    <a href="https://www.argentina.gob.ar/sugerencias?url_refence=node/10318" class="bg-primary active"><div class="container"><p class="margin-0 hidden-xs">Este sitio está actualmente en desarrollo. Si encontrás un error o tenés algún comentario contactate con nosotros.</p>
<p class="margin-0 text-center visible-xs">¿Querés hacernos una sugerencia?</p>
</div></a><header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" href="https://www.argentina.gob.ar/">
            {% image '@logo_argentina_png' %}
                <img src="{{ asset_url }}" alt="Inicio" width="274" height="50">
                <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
            {% endimage %}
          </a>
          <a class="btn btn-success btn-login visible-xs" href="https://mi.argentina.gob.ar/"><span class="fa fa-user fa-fw"></span></a>
                    <a onclick="jQuery(&#39;.navbar.navbar-top&#39;).addClass(&#39;state-search&#39;);" class="btn btn-primary btn-login visible-xs" href="https://www.argentina.gob.ar/adifse#"><span class="fa fa-search fa-fw"></span></a>
                  </div>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
    <a onclick="jQuery(&#39;.navbar.navbar-top&#39;).removeClass(&#39;state-search&#39;);" href="https://www.argentina.gob.ar/adifse#" class="btn btn-link visible-xs"> <i class="fa fa-times"></i> </a>
    <div id="cd-login">
      
  <a id="cd-login" href="https://mi.argentina.gob.ar/" class="btn btn-success hidden-xs"><i class="fa fa-user"></i> &nbsp; Ingresar</a>
</div>
<!-- <section id="block-argentinagobar-search-apache-solr-search-navbar" class="block block-argentinagobar-search clearfix"> -->

      
  <li>
  <form class="main-form" role="search" action="https://www.argentina.gob.ar/adifse" method="post" id="apachesolr-search-custom-page-search-form" accept-charset="UTF-8"><div><input type="hidden" name="form_build_id" value="form-R62X2RMjyFcyHOqJTyAe385fIhQ-uSDqI8-Cr86hbVk">
<input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
<div style="display:none;"><div class="form-item form-item-tarro-de-miel form-type-textfield form-group"> <label class="control-label" for="edit-tarro-de-miel">Dejar en blanco </label>
<input class="form-control form-text" type="text" id="edit-tarro-de-miel" name="tarro_de_miel" value="" size="60" maxlength="128"></div></div><div class="input-group">
  <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input class="js-search-typeahead form-control form-text tt-hint" autofocus="" type="text" value="" size="20" maxlength="255" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);" dir="ltr"><input class="js-search-typeahead form-control form-text tt-input" placeholder="Buscar trámites, servicios o áreas" autofocus="" type="text" id="edit-keys" name="keys" value="" size="20" maxlength="255" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-label"></div></div></span><span class="input-group-btn"><button class="btn-primary btn form-submit" type="submit" id="edit-submit" name="op" value="&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;"><i class="fa fa-search"></i></button>
</span></div>
</div></form></li>

<!-- </section> -->
  </ul>
              </div>
    </div>
  </nav>
</header>
<main role="main">

    
            <a id="main-content"></a>
      <div class="container">
                        </div>
        <div class="region region-content">
     <div id="block-system-main" class="block block-system clearfix">

      
    <div class="panel-pane pane-imagen-destacada">
  
  
  <div class="pane-content">
    <section class="jumbotron" style="background-image: url(https://www.argentina.gob.ar/sites/default/files/styles/jumbotron/public/adifse_header_home.jpg?itok=XA3ppoBH);">
  <div class="jumbotron_bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left"><li><a href="https://www.argentina.gob.ar/">Inicio</a></li>
<li><a href="https://www.argentina.gob.ar/transporte">Ministerio de Transporte </a></li>
<li class="active">Trenes Argentinos Infraestructura</li>
</ol>            <ul class="list-inline pull-right"><li class="first last leaf"><a href="https://servicios.adifse.com.ar/contacto.php">Contacto</a></li>
</ul>        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
          <h1>Trenes Argentinos Infraestructura</h1>
          <p>Dirigimos las obras de infraestructura ferroviaria en todo el país para brindar un transporte seguro y de calidad para los argentinos.                        </p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>  </div>

  
  </div>
  <section class="bg-gray section-sm">
    <div class="">
      <div class="panel-pane pane-atajos">
  
  
  <div class="pane-content">
    <ul class="nav nav-icons ">
	    	<li class=""><a href="https://www.argentina.gob.ar/adifse/nosotros"><i class="fa fa-list bg-primary"></i>
<span>Nosotros </span>
</a></li>
        	<li class=""><a href="https://www.argentina.gob.ar/adifse/obrasyproyectos"><i class="fa fa-cogs bg-primary"></i>
<span>Obras y proyectos</span>
</a></li>
        	<li class=""><a href="https://www.argentina.gob.ar/adifse/transparencia"><i class="fa fa-eye bg-primary"></i>
<span>Transparencia</span>
</a></li>
    </ul>
  </div>

  
  </div>
    </div>
  </section>
<section>
  <div class="container">
    <div class="panel-pane pane-titulo">
  
  
  <div class="pane-content">
    <h2 class="activities-sidbar">Servicios</h2>
  </div>

  
  </div>
<div class="panel-separator"></div><div class="panel-pane pane-atajos">
  
  
    <div class="pane-content">
        <div class="row panels-row">
      
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://servicios.adifse.com.ar/licitaciones.php" class="panel panel-default panel-icon panel-primary">
                    <div class="panel-heading hidden-xs">
                        <i class="fa fa-sign-in"></i>
                    </div>
                    <div class="panel-body">
                        <h3>
                            <span class="visible-xs-inline">
                                <i class="fa fa-sign-in"></i>&nbsp;
                            </span>
                            Licitaciones y contrataciones
                        </h3>
                        <div class="text-muted">
                            <p>Podés consultar todas nuestras licitaciones públicas, privadas y contrataciones.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://servicios.adifse.com.ar/tramites.php" class="panel panel-default panel-icon panel-primary">
                    <div class="panel-heading hidden-xs">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="panel-body">
                        <h3>
                            <span class="visible-xs-inline">
                                <i class="fa fa-search"></i>&nbsp;
                            </span>
                            Seguimiento de trámites
                        </h3>
                        <div class="text-muted">
                            <p>Consultá el estado de tu trámite.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="https://servicios.adifse.com.ar/interesados.php" class="panel panel-default panel-icon panel-primary">
                    <div class="panel-heading hidden-xs">
                        <i class="fa fa-list"></i>
                    </div>
                    <div class="panel-body">
                        <h3>
                            <span class="visible-xs-inline">
                                <i class="fa fa-list"></i>&nbsp; 
                            </span>
                            Registro de interesados
                        </h3>
                        <div class="text-muted">
                            <p>Si estás interesado en participar de una licitación, registrate acá</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{# {{ path('invitacion_pre_registro_proveedor_form') }} #}" class="panel panel-default panel-icon panel-primary">
                    <div class="panel-heading hidden-xs">
                        <i class="fa-lista-bg"></i>
                    </div>
                    <div class="panel-body">
                        <h3>
                            <span class="visible-xs-inline">
                                <i class="fa-lista-bg"></i>&nbsp; 
                            </span>
                            Pre-Inscripción
                        </h3>
                        <div class="text-muted">
                            <p>Elige esta opción si aún no es e-Prov y le gustaría serlo para las futuras obras o servicios.</p>
                        </div>
                    </div>
                </a>
            </div>
        
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{ path('fos_user_security_login') }}" class="panel panel-default panel-icon panel-primary">
                    <div class="panel-heading hidden-xs">
                        <i class="fa-prov-bg"></i>
                    </div>
                    <div class="panel-body">
                        <h3>
                            <span class="visible-xs-inline">
                                <i class="fa-prov-bg"></i>&nbsp; 
                            </span>
                            Soy Proveedor
                        </h3>
                        <div class="text-muted">
                            <p>Acceda desde aquí con su cuenta y disfrute todos los beneficios de ser e-Prov registrado.</p>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>

  
  </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="panel-pane pane-listado">
  
  
  <div class="pane-content">
    <div id="pruebaloca" class="col-md-12 m-t-3 p-x-0">
<h2 class="h3 m-b-2">Novedades </h2>


  <div class="row panels-row">
      <div class="col-xs-12 col-sm-3">
      <a href="https://www.argentina.gob.ar/noticias/tren-mitre-se-inauguro-la-estacion-juan-b-justo-en-vicente-lopez" class="panel panel-default"><div style="background-image:url(https://www.argentina.gob.ar/sites/default/files/styles/listado/public/img_8677.jpg?itok=p__we5s4);" class="panel-heading"></div>
<div class="panel-body">
  <time>06 de Octubre de 2017</time>  <h3>Tren Mitre: Se inauguró la estación Juan B. Justo en Vicente López</h3>  </div>
</a>    </div>
      <div class="col-xs-12 col-sm-3">
      <a href="https://www.argentina.gob.ar/noticias/tren-belgrano-sur-se-inauguran-6-nuevas-estaciones" class="panel panel-default"><div style="background-image:url(https://www.argentina.gob.ar/sites/default/files/styles/listado/public/est._lugano.jpg?itok=L8mUA6mr);" class="panel-heading"></div>
<div class="panel-body">
  <time>03 de Octubre de 2017</time>  <h3>Tren Belgrano Sur: se inauguran 6 nuevas estaciones</h3>  </div>
</a>    </div>
      <div class="col-xs-12 col-sm-3">
      <a href="https://www.argentina.gob.ar/noticias/tren-mitre-se-renovaran-las-vias-del-ramal-tigre" class="panel panel-default"><div style="background-image:url(https://www.argentina.gob.ar/sites/default/files/styles/listado/public/img_2026_web.jpg?itok=yHWHuuoM);" class="panel-heading"></div>
<div class="panel-body">
  <time>02 de Octubre de 2017</time>  <h3>Tren Mitre: Se renovarán las vías del ramal a Tigre</h3>  </div>
</a>    </div>
      <div class="col-xs-12 col-sm-3">
      <a href="https://www.argentina.gob.ar/noticias/comienzan-las-obras-de-del-belgrano-cargas-en-salta-y-jujuy" class="panel panel-default"><div style="background-image:url(https://www.argentina.gob.ar/sites/default/files/styles/listado/public/img_2167.jpg?itok=UV2z87aF);" class="panel-heading"></div>
<div class="panel-body">
  <time>29 de Septiembre de 2017</time>  <h3>Comienzan las obras de vía del Belgrano Cargas en Salta y Jujuy</h3>  </div>
</a>    </div>
    </div>
  <a href="https://www.argentina.gob.ar/node/10318/noticias" class="btn btn-primary">Ver todos</a></div>
  </div>

  
  </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="panel-pane pane-texto">
  
  
  <div class="pane-content">
    <div class=""><div class="alert alert-info">
<div class="media">
<div class="media-left">
      <i class="fa fa-university fa-fw fa-4x"></i>
    </div>
<div class="media-body">
<h5>
<p><a href="https://www.argentina.gob.ar/museo-nacional-ferroviario">Museo Nacional Ferroviario</a></p>
</h5>
<p class="margin-0">
</p><p>Recorré la historia ferroviaria de nuestro país.</p>
<p></p>
</div>
</div>
</div>
</div>
  </div>

  
  </div>
  </div>
</section>
<section class="bg-gray">
  <div class="container">
    <div class="panel-pane pane-area-estructura">
  
  
  <div class="pane-content">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
      <img class="img-responsive img-rounded" alt="" src="">
    </div>
        <div class="col-md-9">
            <h2 class="h1">Guillermo Fiad                <br>
        <small>Presidente de Trenes Argentinos Infraestructura</small>
              </h2>
            <p>Ingeniero Civil. Posee posgrados en Administración de Empresas y Economía en la Universidad de Columbia (Estados Unidos), IAE y ESEADE. </p>    </div>
  </div>
    </div>

  
  </div>
  </div>
</section>
<section>
  <div class="container">
        <div class="row">
    <div class="col-sm-6">
      <div class="panel-pane pane-area-contacto">
  
  
  <div class="pane-content">
    <h2 class="h3 section-title">Contacto</h2>
<p class="margin-40">
  <strong>Dirección:</strong> Av. Dr. Ramos Mejía 1302, Ciudad de Buenos Aires<br>  <strong>Código postal:</strong> C1104ABC<br>  <strong>Teléfono:</strong> +54 (011) 4318-3333<br>  </p>

  <h5>Redes sociales del área</h5>
  <div class="social-share">
    <ul class="list-inline">
                                <li><a href="http://www.youtube.com/channel/UCcpwb2hnXjW6FAo2JlVInVQ" target="_blank"><span class="sr-only">Youtube</span><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
  </div>
  </div>

  
  </div>
    </div>
    <div class="col-sm-6">
          </div>
    </div>
  </div>
</section>

</div>
  </div>

    
</main>

<footer class="main-footer">
<div class="container">
    <div class="row">
	   	<div class="col-sm-6">
  			<section class="block block-block clearfix">
                {% image '@logo_argentina_png' %}
                    <img class="image-responsive" src="{{ asset_url }}" alt="Argentina.gob.ar - Presidencia de la Nación">
                    <p class="text-muted small">
                        Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/" target="_blank">Creative Commons Reconocimiento 2.5 Argentina License</a>
                    </p>
                {% endimage %}
        </section>
					</div>
    <div class="col-md-3 col-sm-6">
            <div class="region region-footer2">
    <section id="block-menu-menu-footer-2" class="block block-menu clearfix">

      
  <ul class="menu nav"><li class="first leaf"><a href="https://www.argentina.gob.ar/servicios">Trámites y servicios</a></li>
<li class="leaf"><a href="https://www.argentina.gob.ar/organismos">Organismos del Estado</a></li>
<li class="leaf"><a href="https://www.argentina.gob.ar/pais">Nuestro país</a></li>
<li class="last leaf"><a href="http://mapadelestado.modernizacion.gob.ar/">Mapa del Estado</a></li>
</ul>
</section>
  </div>
        </div>
    	<div class="col-md-3 col-sm-6">
						      <div class="region region-footer3">
    <section id="block-menu-menu-footer-3" class="block block-menu clearfix">

      
  <ul class="menu nav"><li class="first leaf"><a href="https://www.argentina.gob.ar/acerca">Acerca de este sitio</a></li>
<li class="leaf"><a href="https://www.argentina.gob.ar/sugerencias">Hacer una sugerencia</a></li>
<li class="leaf"><a href="https://www.argentina.gob.ar/terminos-y-condiciones">Términos y condiciones</a></li>
<li class="last leaf"><a href="https://www.argentina.gob.ar/ayuda">Ayuda</a></li>
</ul>
</section>
  </div>
					</div>
	</div>
</div>
</footer>  


</body></html>