{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
{#{{ form_start(form) }}#}
    <div class="reg-form-error">
        {% for error in errors %}
            {{ error.message }}
            <br>
        {% endfor %}
    </div>
    <div class="form-group">
        <div class="col-lg-offset-1 col-lg-10 col-md-1 col-sm-2 col-xs-2 text-left">
            <label for="username">{{ 'form.password'|trans({}, 'FOSUserBundle') }}</label>
        </div>

        <div class="col-lg-10 col-lg-offset-1">
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-1 col-lg-10 col-md-2 col-sm-2 col-xs-2 text-left">
            {{ form_label(form.plainPassword.second) }}
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-1 col-lg-10 col-md-1 col-sm-2 col-xs-2 text-left">
            {% include '@GYL\UsuarioBundle/Resources/views/Validation/validation.html.twig' %}
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2  col-md-12 col-sm-12 col-xs-12">
        <input  class="btn btn-primary col-lg-11 col-md-12 col-sm-12 col-xs-12"
                type="submit"
                id="_submit"
                name="_submit"
                value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
        />
    </div>
{{ form_end(form) }}
